<h1>Listing friends</h1>

<%= link_to 'New Friend', new_friend_path, id: "new_link", remote: true %>
<!-- <%= bar_chart Shoe.group("size").count %> -->

<div id="friend_form">
  
</div>

<div id="graphs"></div>

<ul id="friends">
 <%= render @friends %>
</ul>

